In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import os
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.sparse
import sklearn
from itertools import product
import warnings
warnings.filterwarnings('ignore')

In [2]:
sales            = pd.read_csv("../sales_train_v2.csv")
items            = pd.read_csv("../items.csv")
item_categories  = pd.read_csv("../item_categories.csv")
shops            = pd.read_csv("../shops.csv")
test             = pd.read_csv("../test.csv")

In [3]:
sales[sales.item_price>100000]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
1163158,13.12.2013,11,12,6066,307980.0,1.0

In [4]:
sales[sales.item_cnt_day>1000]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
2909818,28.10.2015,33,12,11373,0.908714,2169.0

In [5]:
sales[(sales.shop_id ==0) & (sales.item_id == 30) & (sales.date_block_num == 1)]

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
173344  21.02.2013               1        0       30       265.0           2.0
173345  20.02.2013               1        0       30       265.0           2.0
173346  18.02.2013               1        0       30       265.0           4.0
173347  17.02.2013               1        0       30       265.0           4.0
173348  16.02.2013               1        0       30       265.0           9.0
173349  15.02.2013               1        0       30       265.0           2.0
173361  22.02.2013               1        0       30       265.0           2.0
173402  23.02.2013               1        0       30       265.0           3.0
173441  26.02.2013               1        0       30       265.0           3.0

In [6]:
test[(test.shop_id == 12) & (test.item_id == 11373)]

          ID  shop_id  item_id
37296  37296       12    11373

In [7]:

# 将所有出现过的 shop 和 item 做一个结合, 这样就不会漏下任何的组合
grid = []

for block_num in sales["date_block_num"].unique():
    cur_shops = sales.loc[sales["date_block_num"] == block_num, "shop_id"].unique()
    cur_items = sales.loc[sales["date_block_num"] == block_num, "item_id"].unique()
    grid.append(np.array(list(product(*[cur_shops, cur_items, [block_num]])), dtype="int32"))
index_cols = ["shop_id", "item_id", "date_block_num"]  
grid = pd.DataFrame(np.vstack(grid), columns=index_cols, dtype=np.int32)
grid

          shop_id  item_id  date_block_num
0              59    22154               0
1              59     2552               0
2              59     2554               0
3              59     2555               0
4              59     2564               0
5              59     2565               0
6              59     2572               0
7              59     2573               0
8              59     2574               0
9              59     2593               0
10             59     2604               0
11             59     2607               0
12             59     2609               0
13             59     2548               0
14             59     2611               0
15             59     2546               0
16             59     2515               0
17             59     2705               0
18             59     2715               0
19             59     2716               0
20             59     2719               0
21             59     2720               0
22             59     2473               0
23             59     2480               0
24             59     2731               0
25             59     2746               0
26             59     2748               0
27             59     2522               0
28             59     2614               0
29             59     2798               0
...           ...      ...             ...
10913820       21    10187              33
10913821       21     8250              33
10913822       21     6245              33
10913823       21     6279              33
10913824       21     6480              33
10913825       21     6028              33
10913826       21     6345              33
10913827       21     8504              33
10913828       21     6855              33
10913829       21     7903              33
10913830       21     7904              33
10913831       21     7930              33
10913832       21     8474              33
10913833       21     8245              33
10913834       21     8189              33
10913835       21     7998              33
10913836       21     8037              33
10913837       21     8169              33
10913838       21     7583              33
10913839       21     7590              33
10913840       21     7610              33
10913841       21     7612              33
10913842       21     7615              33
10913843       21     7627              33
10913844       21     7628              33
10913845       21     7635              33
10913846       21     7638              33
10913847       21     7640              33
10913848       21     7632              33
10913849       21     7440              33

[10913850 rows x 3 columns]

# Add the test to the data transformation

In [8]:
test["date_block_num"] = 34
test

            ID  shop_id  item_id  date_block_num
0            0        5     5037              34
1            1        5     5320              34
2            2        5     5233              34
3            3        5     5232              34
4            4        5     5268              34
5            5        5     5039              34
6            6        5     5041              34
7            7        5     5046              34
8            8        5     5319              34
9            9        5     5003              34
10          10        5     4806              34
11          11        5     4843              34
12          12        5     4607              34
13          13        5     4869              34
14          14        5     4870              34
15          15        5     4872              34
16          16        5     4874              34
17          17        5     4678              34
18          18        5     4892              34
19          19        5     4964              34
20          20        5     4717              34
21          21        5     5002              34
22          22        5     5823              34
23          23        5     5814              34
24          24        5     5900              34
25          25        5     5907              34
26          26        5     5908              34
27          27        5     5643              34
28          28        5     5657              34
29          29        5     5675              34
...        ...      ...      ...             ...
214170  214170       45    14543              34
214171  214171       45    19253              34
214172  214172       45    17957              34
214173  214173       45    12470              34
214174  214174       45     7543              34
214175  214175       45     6661              34
214176  214176       45    11137              34
214177  214177       45    11489              34
214178  214178       45     9782              34
214179  214179       45     2972              34
214180  214180       45    19889              34
214181  214181       45    20650              34
214182  214182       45     5665              34
214183  214183       45     9978              34
214184  214184       45    10767              34
214185  214185       45    14443              34
214186  214186       45    14341              34
214187  214187       45     5401              34
214188  214188       45     9500              34
214189  214189       45    16007              34
214190  214190       45     3280              34
214191  214191       45     4393              34
214192  214192       45     4352              34
214193  214193       45    18049              34
214194  214194       45    18027              34
214195  214195       45    18454              34
214196  214196       45    16188              34
214197  214197       45    15757              34
214198  214198       45    19648              34
214199  214199       45      969              34

[214200 rows x 4 columns]

In [9]:
test = test.drop("ID", axis=1)

In [10]:
grid = pd.concat([grid, test],ignore_index=True)
grid

          shop_id  item_id  date_block_num
0              59    22154               0
1              59     2552               0
2              59     2554               0
3              59     2555               0
4              59     2564               0
5              59     2565               0
6              59     2572               0
7              59     2573               0
8              59     2574               0
9              59     2593               0
10             59     2604               0
11             59     2607               0
12             59     2609               0
13             59     2548               0
14             59     2611               0
15             59     2546               0
16             59     2515               0
17             59     2705               0
18             59     2715               0
19             59     2716               0
20             59     2719               0
21             59     2720               0
22             59     2473               0
23             59     2480               0
24             59     2731               0
25             59     2746               0
26             59     2748               0
27             59     2522               0
28             59     2614               0
29             59     2798               0
...           ...      ...             ...
11128020       45    14543              34
11128021       45    19253              34
11128022       45    17957              34
11128023       45    12470              34
11128024       45     7543              34
11128025       45     6661              34
11128026       45    11137              34
11128027       45    11489              34
11128028       45     9782              34
11128029       45     2972              34
11128030       45    19889              34
11128031       45    20650              34
11128032       45     5665              34
11128033       45     9978              34
11128034       45    10767              34
11128035       45    14443              34
11128036       45    14341              34
11128037       45     5401              34
11128038       45     9500              34
11128039       45    16007              34
11128040       45     3280              34
11128041       45     4393              34
11128042       45     4352              34
11128043       45    18049              34
11128044       45    18027              34
11128045       45    18454              34
11128046       45    16188              34
11128047       45    15757              34
11128048       45    19648              34
11128049       45      969              34

[11128050 rows x 3 columns]

In [11]:
test_index = grid[grid.date_block_num == 34].index
test_index

Int64Index([10913850, 10913851, 10913852, 10913853, 10913854, 10913855,
            10913856, 10913857, 10913858, 10913859,
            ...
            11128040, 11128041, 11128042, 11128043, 11128044, 11128045,
            11128046, 11128047, 11128048, 11128049],
           dtype='int64', length=214200)

In [12]:
# group the sum of everyday's sale by shop, item, date_block_num
index_cols = ["shop_id", "item_id", "date_block_num"]
gb = sales.groupby(index_cols, as_index=False).agg("sum")
gb.drop("item_price", axis = 1, inplace=True)
gb_price_mean = sales.groupby(index_cols, as_index = False).agg("mean").item_price
gb.rename(columns={"item_cnt_day" : "target"}, inplace=True)
gb["price_mean"] = gb_price_mean.values
gb.head()

   shop_id  item_id  date_block_num  target  price_mean
0        0       30               1    31.0       265.0
1        0       31               1    11.0       434.0
2        0       32               0     6.0       221.0
3        0       32               1    10.0       221.0
4        0       33               0     3.0       347.0

In [13]:
sales[(sales.shop_id ==0) & (sales.item_id == 31) & (sales.date_block_num == 1)]

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
173403  15.02.2013               1        0       31       434.0           3.0
173454  26.02.2013               1        0       31       434.0           1.0
173455  25.02.2013               1        0       31       434.0           1.0
173456  24.02.2013               1        0       31       434.0           1.0
173457  22.02.2013               1        0       31       434.0           1.0
173458  17.02.2013               1        0       31       434.0           3.0
173459  16.02.2013               1        0       31       434.0           1.0

In [14]:
# merge gb, grid, item categories together
all_data = pd.merge(grid, gb, how = "left", on = index_cols).fillna(0)
all_data = pd.merge(all_data, items, on = ["item_id"], how = "left")

In [15]:
all_data.head()

,shop_id,item_id,date_block_num,target,price_mean,item_name,item_category_id
0,59,22154,0,1.0,999.0,ЯВЛЕНИЕ 2012 (BD),37
1,59,2552,0,0.0,0.0,DEEP PURPLE The House Of Blue Light LP,58
2,59,2554,0,0.0,0.0,DEEP PURPLE Who Do You Think We Are LP,58
3,59,2555,0,0.0,0.0,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56
4,59,2564,0,0.0,0.0,DEEP PURPLE Perihelion: Live In Concert DVD (К...,59

In [16]:
gb = sales.groupby(["shop_id", "date_block_num"], as_index=False) \
                            .agg({"item_cnt_day":{"shop_block_target_sum":"sum",
                                                 "shop_block_target_mean":np.mean}})
gb.columns = [col[0] if col[-1] == '' else col[-1] for col in gb.columns.values]
all_data = pd.merge(all_data, gb, how = "left", on = ["shop_id", "date_block_num"]).fillna(0)

In [17]:
gb = sales.groupby(["item_id", "date_block_num"], as_index=False) \
                            .agg({"item_cnt_day":{"item_block_target_sum":"sum",
                                                  "item_block_target_mean":np.mean}})
gb.columns = [col[0] if col[-1] == '' else col[-1] for col in gb.columns.values]
all_data = pd.merge(all_data, gb, how = "left", on = ["item_id", "date_block_num"]).fillna(0)

In [18]:
sales = pd.merge(sales, items, on = ["item_id"], how = "left")
gb = sales.groupby(["item_category_id", "date_block_num"], as_index = False) \
                            .agg({'item_cnt_day':{'item_cat_block_target_sum':"sum", 
                                                  "item_cat_block_target_mean":np.mean}})
gb.columns = [col[0] if col[-1] == '' else col[-1] for col in gb.columns.values]
all_data = pd.merge(all_data, gb, how = "left", on = ["item_category_id", "date_block_num"]).fillna(0)

In [19]:
all_data

,shop_id,item_id,date_block_num,target,price_mean,item_name,item_category_id,shop_block_target_sum,shop_block_target_mean,item_block_target_mean,item_block_target_sum,item_cat_block_target_mean,item_cat_block_target_sum
0,59,22154,0,1.0,999.000000,ЯВЛЕНИЕ 2012 (BD),37,2017.0,1.092041,1.000000,18.0,1.053414,6094.0
1,59,2552,0,0.0,0.000000,DEEP PURPLE The House Of Blue Light LP,58,2017.0,1.092041,0.000000,0.0,0.969595,287.0
2,59,2554,0,0.0,0.000000,DEEP PURPLE Who Do You Think We Are LP,58,2017.0,1.092041,1.000000,1.0,0.969595,287.0
3,59,2555,0,0.0,0.000000,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,2017.0,1.092041,1.000000,2.0,1.007519,268.0
4,59,2564,0,0.0,0.000000,DEEP PURPLE Perihelion: Live In Concert DVD (К...,59,2017.0,1.092041,1.000000,5.0,0.990113,701.0
5,59,2565,0,0.0,0.000000,DEEP PURPLE Stormbringer (фирм.),56,2017.0,1.092041,1.000000,2.0,1.007519,268.0
6,59,2572,0,0.0,0.000000,DEFTONES Koi No Yokan,55,2017.0,1.092041,1.000000,12.0,1.025878,12527.0
7,59,2573,0,0.0,0.000000,DEL REY LANA Born To Die,55,2017.0,1.092041,1.142857,16.0,1.025878,12527.0
8,59,2574,0,2.0,399.000000,DEL REY LANA Born To Die The Paradise Editio...,55,2017.0,1.092041,1.144231,119.0,1.025878,12527.0
9,59,2593,0,0.0,0.000000,DEPECHE MODE Music For The Masses,55,2017.0,1.092041,1.000000,5.0,1.025878,12527.0
10,59,2604,0,0.0,0.000000,DEPECHE MODE Sounds Of The Universe,55,2017.0,1.092041,1.000000,10.0,1.025878,12527.0
11,59,2607,0,0.0,0.000000,DEPECHE MODE The Best Of 1,55,2017.0,1.092041,1.000000,29.0,1.025878,12527.0
12,59,2609,0,0.0,0.000000,DEPECHE MODE Tour Of The Universe Barselona ...,59,2017.0,1.092041,1.000000,4.0,0.990113,701.0
13,59,2548,0,0.0,0.000000,DEEP PURPLE Stormbringer LP,58,2017.0,1.092041,1.000000,1.0,0.969595,287.0
14,59,2611,0,0.0,0.000000,DEPECHE MODE Tour Of The Universe Barselona ...,59,2017.0,1.092041,1.000000,1.0,0.990113,701.0
15,59,2546,0,0.0,0.000000,DEEP PURPLE Smoke On The Water The Best Of,55,2017.0,1.092041,1.000000,12.0,1.025878,12527.0
16,59,2515,0,0.0,0.000000,DEEP PURPLE Come Taste The Band Original Rec...,58,2017.0,1.092041,1.000000,3.0,0.969595,287.0
17,59,2705,0,1.0,1799.000000,"Dark Souls: Prepare to Die Edition [Xbox 360, ...",23,2017.0,1.092041,1.000000,12.0,1.080167,4150.0
18,59,2715,0,0.0,0.000000,"Darksiders (Essentials) [PS3, русская документ...",19,2017.0,1.092041,1.000000,16.0,1.131788,8983.0
19,59,2716,0,0.0,0.000000,Darksiders (PC-DVD) (DVD-box),28,2017.0,1.092041,1.000000,32.0,1.184354,5435.0
20,59,2719,0,1.0,2699.000000,"Darksiders II [PS3, русская версия]",19,2017.0,1.092041,1.000000,13.0,1.131788,8983.0
21,59,2720,0,0.0,0.000000,"Darksiders II [Xbox 360, русская версия]",23,2017.0,1.092041,1.000000,6.0,1.080167,4150.0
22,59,2473,0,0.0,0.000000,DASSIN JOE L'Album Souvenir Best Of 3CD (фи...,56,2017.0,1.092041,1.000000,3.0,1.007519,268.0
23,59,2480,0,0.0,0.000000,DAVID CRAIG Signed Sealed Delivered,55,2017.0,1.092041,1.000000,4.0,1.025878,12527.0
24,59,2731,0,1.0,599.000000,"Dead Island [PC, Jewel]",30,2017.0,1.092041,1.037037,28.0,1.198080,22216.0
25,59,2746,0,9.0,286.142857,"Dead Space 2 [PC, Jewel]",30,2017.0,1.092041,1.130000,113.0,1.198080,22216.0
26,59,2748,0,1.0,479.480000,"Dead Space 2 [PS3, русская версия]",19,2017.0,1.092041,1.074074,58.0,1.131788,8983.0
27,59,2522,0,0.0,0.000000,DEEP PURPLE Fireball Limited Edition LP,58,2017.0,1.092041,1.000000,2.0,0.969595,287.0
28,59,2614,0,0.0,0.000000,DEPECHE MODE Violator,55,2017.0,1.092041,1.000000,19.0,1.025878,12527.0
29,59,2798,0,0.0,0.000000,"Deus Ex: Human Revolution [PC, Jewel]",30,2017.0,1.092041,1.000000,19.0,1.198080,22216.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11128020,45,14543,34,0.0,0.000000,МЕРКУРИЙ В ОПАСНОСТИ (BD),37,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128021,45,19253,34,0.0,0.000000,"Самолеты [PC, Jewel, русская версия]",30,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128022,45,17957,34,0.0,0.000000,РОСОМАХА: БЕССМЕРТНЫЙ (3D BD),38,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128023,45,12470,34,0.0,0.000000,КИНО Легенды русского рока 2LP,58,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128024,45,7543,34,0.0,0.000000,"Van Helsing 2. Смерти вопреки [PC, Jewel, русс...",30,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128025,45,6661,34,0.0,0.000000,"Sonic Rivals 2 (Essentials) [PSP, английская в...",21,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128026,45,11137,34,0.0,0.000000,ДОКТОР ЖИВАГО WB (BD),37,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128027,45,11489,34,0.0,0.000000,ЖИЗНЬ АДЕЛЬ. КИНО БЕЗ ГРАНИЦ,40,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128028,45,9782,34,0.0,0.000000,ВЕЛИКИЙ ГЭТСБИ (3D BD) +открытка,38,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128029,45,2972,34,0.0,0.000000,"DmC Devil May Cry [PC, Jewel, русские субтитры]",30,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128030,45,19889,34,0.0,0.000000,ТРОЯ WB (регион),40,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128031,45,20650,34,0.0,0.000000,Фигурка Pacific Rim Series 3 Jaeger Coyote Tan...,72,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128032,45,5665,34,0.0,0.000000,PS4: Комплект 4gamers Premium Connect 'n' Char...,3,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128033,45,9978,34,0.0,0.000000,ВОЙНА БОГОВ:БЕССМЕРТНЫЕ (BD),37,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128034,45,10767,34,0.0,0.000000,ДВОЙНОЙ ФОРСАЖ (BD),37,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128035,45,14443,34,0.0,0.000000,МАША И МЕДВЕДЬ. МАШИНЫ СКАЗКИ. ЦАРЕВНА-ЛЯГУШКА...,40,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128036,45,14341,34,0.0,0.000000,МАМА ДАРАГАЯ!,40,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128037,45,5401,34,0.0,0.000000,"One Piece Unlimited World Red [PS3, английская...",19,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128038,45,9500,34,0.0,0.000000,В НЕКОТОРОМ ЦАРСТВЕ сб. м/ф (Регион),40,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128039,45,16007,34,0.0,0.000000,Настольная игра 7 чудес,64,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128040,45,3280,34,0.0,0.000000,FARMER MYLENE Best Of 2001-2011,55,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128041,45,4393,34,0.0,0.000000,"LEGO Хоббит [PS Vita, русские субтитры]",22,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128042,45,4352,34,0.0,0.000000,"LEGO Marvel Super Heroes [PS Vita, русские суб...",22,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128043,45,18049,34,0.0,0.000000,Резинки для плетения силиконовые Неон желтый N...,70,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128044,45,18027,34,0.0,0.000000,Резинки для плетения Коллекция Средневековья Н...,70,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128045,45,18454,34,0.0,0.000000,СБ. Союз 55,55,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128046,45,16188,34,0.0,0.000000,Настольная игра Нано Кёрлинг,64,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128047,45,15757,34,0.0,0.000000,НОВИКОВ АЛЕКСАНДР Новая коллекция,55,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128048,45,19648,34,0.0,0.000000,ТЕРЕМ - ТЕРЕМОК сб.м/ф (Регион),40,0.0,0.000000,0.000000,0.0,0.000000,0.0
11128049,45,969,34,0.0,0.000000,3 ДНЯ НА УБИЙСТВО (BD),37,0.0,0.000000,0.000000,0.0,0.000000,0.0

In [20]:
all_data.shape

(11128050, 13)

In [21]:
def downcast(df):
    int_col = []
    float_col = []
    for i in df:
        if df[i].dtype == "float64":
            float_col.append(i)
        elif df[i].dtype == "int64":
            int_col.append(i)
    df[float_col] = df[float_col].astype(np.float32)
    df[int_col] = df[int_col].astype(np.int32)
    return df

In [22]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11128050 entries, 0 to 11128049
Data columns (total 13 columns):
shop_id                       int64
item_id                       int64
date_block_num                int64
target                        float64
price_mean                    float64
item_name                     object
item_category_id              int64
shop_block_target_sum         float64
shop_block_target_mean        float64
item_block_target_mean        float64
item_block_target_sum         float64
item_cat_block_target_mean    float64
item_cat_block_target_sum     float64
dtypes: float64(8), int64(4), object(1)
memory usage: 1.2+ GB

In [23]:
all_data = downcast(all_data)

In [24]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11128050 entries, 0 to 11128049
Data columns (total 13 columns):
shop_id                       int32
item_id                       int32
date_block_num                int32
target                        float32
price_mean                    float32
item_name                     object
item_category_id              int32
shop_block_target_sum         float32
shop_block_target_mean        float32
item_block_target_mean        float32
item_block_target_sum         float32
item_cat_block_target_mean    float32
item_cat_block_target_sum     float32
dtypes: float32(8), int32(4), object(1)
memory usage: 679.2+ MB

In [25]:
del grid, gb

In [26]:
all_data.tail(1)

,shop_id,item_id,date_block_num,target,price_mean,item_name,item_category_id,shop_block_target_sum,shop_block_target_mean,item_block_target_mean,item_block_target_sum,item_cat_block_target_mean,item_cat_block_target_sum
11128049,45,969,34,0.0,0.0,3 ДНЯ НА УБИЙСТВО (BD),37,0.0,0.0,0.0,0.0,0.0,0.0

# Get lag features

In [27]:
index_cols = ["shop_id", "item_id", "date_block_num", "item_category_id"]
cols_to_rename = list(all_data.columns.difference(index_cols))
cols_to_rename

['item_block_target_mean',
 'item_block_target_sum',
 'item_cat_block_target_mean',
 'item_cat_block_target_sum',
 'item_name',
 'price_mean',
 'shop_block_target_mean',
 'shop_block_target_sum',
 'target']

In [28]:
cols_to_rename.remove("item_name")
cols_to_rename

['item_block_target_mean',
 'item_block_target_sum',
 'item_cat_block_target_mean',
 'item_cat_block_target_sum',
 'price_mean',
 'shop_block_target_mean',
 'shop_block_target_sum',
 'target']

In [29]:
cols_gb_item = [i for i in cols_to_rename if "item_block" in i]
cols_gb_shop = [i for i in cols_to_rename if "shop_block" in i]
cols_gb_cat = [i for i in cols_to_rename if "item_cat" in i]
cols_gb_all = ["target"]
cols_gb_price = ["price_mean"]
cols_gb_key = [["item_id"], ["shop_id"], ["item_category_id"], ["shop_id", "item_id"], ["shop_id", "item_id"]]
cols_gb_value = [cols_gb_item, cols_gb_shop, cols_gb_cat, cols_gb_all, cols_gb_price]
print(cols_gb_value)

[['item_block_target_mean', 'item_block_target_sum'], ['shop_block_target_mean', 'shop_block_target_sum'], ['item_cat_block_target_mean', 'item_cat_block_target_sum'], ['target'], ['price_mean']]

In [30]:
# extract the block, pairs in the cols_gb_value, modify the block number, and merge them according to the block number
# shift

shift_range = [1,2,3,4,6,12]
for month_shift in shift_range:
    for k,v in zip(cols_gb_key,cols_gb_value): 
        index_col = ['date_block_num'] + k
        train_shift = all_data[index_col + v].copy().drop_duplicates()

        train_shift['date_block_num'] = train_shift['date_block_num'] + month_shift

        foo = lambda x: '{}_lag_{}'.format(x, month_shift) if x in v else x
        train_shift = train_shift.rename(columns=foo)
        all_data = pd.merge(all_data, train_shift, on=index_col, how='left').fillna(0)

In [31]:
all_data.columns

Index(['shop_id', 'item_id', 'date_block_num', 'target', 'price_mean',
       'item_name', 'item_category_id', 'shop_block_target_sum',
       'shop_block_target_mean', 'item_block_target_mean',
       'item_block_target_sum', 'item_cat_block_target_mean',
       'item_cat_block_target_sum', 'item_block_target_mean_lag_1',
       'item_block_target_sum_lag_1', 'shop_block_target_mean_lag_1',
       'shop_block_target_sum_lag_1', 'item_cat_block_target_mean_lag_1',
       'item_cat_block_target_sum_lag_1', 'target_lag_1', 'price_mean_lag_1',
       'item_block_target_mean_lag_2', 'item_block_target_sum_lag_2',
       'shop_block_target_mean_lag_2', 'shop_block_target_sum_lag_2',
       'item_cat_block_target_mean_lag_2', 'item_cat_block_target_sum_lag_2',
       'target_lag_2', 'price_mean_lag_2', 'item_block_target_mean_lag_3',
       'item_block_target_sum_lag_3', 'shop_block_target_mean_lag_3',
       'shop_block_target_sum_lag_3', 'item_cat_block_target_mean_lag_3',
       'item_cat_block_target_sum_lag_3', 'target_lag_3', 'price_mean_lag_3',
       'item_block_target_mean_lag_4', 'item_block_target_sum_lag_4',
       'shop_block_target_mean_lag_4', 'shop_block_target_sum_lag_4',
       'item_cat_block_target_mean_lag_4', 'item_cat_block_target_sum_lag_4',
       'target_lag_4', 'price_mean_lag_4', 'item_block_target_mean_lag_6',
       'item_block_target_sum_lag_6', 'shop_block_target_mean_lag_6',
       'shop_block_target_sum_lag_6', 'item_cat_block_target_mean_lag_6',
       'item_cat_block_target_sum_lag_6', 'target_lag_6', 'price_mean_lag_6',
       'item_block_target_mean_lag_12', 'item_block_target_sum_lag_12',
       'shop_block_target_mean_lag_12', 'shop_block_target_sum_lag_12',
       'item_cat_block_target_mean_lag_12', 'item_cat_block_target_sum_lag_12',
       'target_lag_12', 'price_mean_lag_12'],
      dtype='object')

In [32]:
# delete the those rows without enough lags fetures
all_data = all_data[all_data["date_block_num"] >= 12]

In [33]:
all_data.shape

(6639294, 61)

In [34]:
all_data.to_pickle("train_with_test.pickle")

# Special-day features

In [35]:
all_data["Newyear"] = all_data.date_block_num.apply(lambda x: 1 if x in [12, 24] else 0)
all_data["off_season"] = all_data.date_block_num.apply(lambda x: 1 if x in [16,17,18,19,20,27,28,29,30,31,32] else 0)

In [36]:
all_data = all_data.drop(["item_name"], axis = 1)

In [37]:
all_data.head(1).T

                                        4488756
shop_id                               54.000000
item_id                            10297.000000
date_block_num                        12.000000
target                                 4.000000
price_mean                           749.000000
item_category_id                      37.000000
shop_block_target_sum               8198.000000
shop_block_target_mean                 1.295717
item_block_target_mean                 1.000000
item_block_target_sum                 23.000000
item_cat_block_target_mean             1.017199
item_cat_block_target_sum           7511.000000
item_block_target_mean_lag_1           1.000000
item_block_target_sum_lag_1           42.000000
shop_block_target_mean_lag_1           1.363205
shop_block_target_sum_lag_1        10055.000000
item_cat_block_target_mean_lag_1       1.049310
item_cat_block_target_sum_lag_1     9959.000000
target_lag_1                           3.000000
price_mean_lag_1                     749.000000
item_block_target_mean_lag_2           1.000000
item_block_target_sum_lag_2            2.000000
shop_block_target_mean_lag_2           1.413036
shop_block_target_sum_lag_2         7978.000000
item_cat_block_target_mean_lag_2       1.065480
item_cat_block_target_sum_lag_2     7420.000000
target_lag_2                           0.000000
price_mean_lag_2                       0.000000
item_block_target_mean_lag_3           0.000000
item_block_target_sum_lag_3            0.000000
...                                         ...
item_cat_block_target_mean_lag_3       1.063016
item_cat_block_target_sum_lag_3     6950.000000
target_lag_3                           0.000000
price_mean_lag_3                       0.000000
item_block_target_mean_lag_4           0.000000
item_block_target_sum_lag_4            0.000000
shop_block_target_mean_lag_4           1.428285
shop_block_target_sum_lag_4         7827.000000
item_cat_block_target_mean_lag_4       1.080254
item_cat_block_target_sum_lag_4     7659.000000
target_lag_4                           0.000000
price_mean_lag_4                       0.000000
item_block_target_mean_lag_6           0.000000
item_block_target_sum_lag_6            0.000000
shop_block_target_mean_lag_6           1.255430
shop_block_target_sum_lag_6         7225.000000
item_cat_block_target_mean_lag_6       1.019991
item_cat_block_target_sum_lag_6     8623.000000
target_lag_6                           0.000000
price_mean_lag_6                       0.000000
item_block_target_mean_lag_12          0.000000
item_block_target_sum_lag_12           0.000000
shop_block_target_mean_lag_12          1.247143
shop_block_target_sum_lag_12        9386.000000
item_cat_block_target_mean_lag_12      1.053414
item_cat_block_target_sum_lag_12    6094.000000
target_lag_12                          0.000000
price_mean_lag_12                      0.000000
Newyear                                1.000000
off_season                             0.000000

[62 rows x 1 columns]

In [38]:
test_lags = all_data.loc[test_index]

In [39]:
test_lags.head().T

,10913850,10913851,10913852,10913853,10913854
shop_id,5.000000,5.000000,5.000000,5.000000,5.000000
item_id,5037.000000,5320.000000,5233.000000,5232.000000,5268.000000
date_block_num,34.000000,34.000000,34.000000,34.000000,34.000000
target,0.000000,0.000000,0.000000,0.000000,0.000000
price_mean,0.000000,0.000000,0.000000,0.000000,0.000000
item_category_id,19.000000,55.000000,19.000000,23.000000,20.000000
shop_block_target_sum,0.000000,0.000000,0.000000,0.000000,0.000000
shop_block_target_mean,0.000000,0.000000,0.000000,0.000000,0.000000
item_block_target_mean,0.000000,0.000000,0.000000,0.000000,0.000000
item_block_target_sum,0.000000,0.000000,0.000000,0.000000,0.000000
item_cat_block_target_mean,0.000000,0.000000,0.000000,0.000000,0.000000
item_cat_block_target_sum,0.000000,0.000000,0.000000,0.000000,0.000000
item_block_target_mean_lag_1,1.000000,0.000000,1.024390,0.933333,0.000000
item_block_target_sum_lag_1,25.000000,0.000000,42.000000,28.000000,0.000000
shop_block_target_mean_lag_1,1.090155,1.090155,1.090155,1.090155,1.090155
shop_block_target_sum_lag_1,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000
item_cat_block_target_mean_lag_1,1.041791,1.022715,1.041791,1.055582,1.625431
item_cat_block_target_sum_lag_1,2443.000000,5808.000000,2443.000000,2203.000000,6596.000000
target_lag_1,0.000000,0.000000,1.000000,0.000000,0.000000
price_mean_lag_1,0.000000,0.000000,1199.000000,0.000000,0.000000
item_block_target_mean_lag_2,1.428571,0.000000,1.250000,1.043478,0.000000
item_block_target_sum_lag_2,110.000000,0.000000,80.000000,48.000000,0.000000
shop_block_target_mean_lag_2,1.148265,1.148265,1.148265,1.148265,1.148265
shop_block_target_sum_lag_2,1092.000000,1092.000000,1092.000000,1092.000000,1092.000000
item_cat_block_target_mean_lag_2,1.273688,1.014663,1.273688,1.261420,1.705134
item_cat_block_target_sum_lag_2,3979.000000,4913.000000,3979.000000,3590.000000,7107.000000
target_lag_2,1.000000,0.000000,3.000000,0.000000,0.000000
price_mean_lag_2,749.500000,0.000000,999.000000,0.000000,0.000000
item_block_target_mean_lag_3,1.190000,0.000000,1.181102,1.203704,0.000000
item_block_target_sum_lag_3,119.000000,0.000000,150.000000,65.000000,0.000000
...,...,...,...,...,...
item_cat_block_target_mean_lag_3,1.126207,1.009725,1.126207,1.093142,1.308041
item_cat_block_target_sum_lag_3,4667.000000,6022.000000,4667.000000,3650.000000,4620.000000
target_lag_3,3.000000,0.000000,1.000000,1.000000,0.000000
price_mean_lag_3,999.166687,0.000000,599.000000,599.000000,0.000000
item_block_target_mean_lag_4,1.102041,0.000000,1.027778,0.000000,0.000000
item_block_target_sum_lag_4,54.000000,0.000000,37.000000,0.000000,0.000000
shop_block_target_mean_lag_4,1.070194,1.070194,1.070194,1.070194,1.070194
shop_block_target_sum_lag_4,991.000000,991.000000,991.000000,991.000000,991.000000
item_cat_block_target_mean_lag_4,1.036868,1.012353,1.036868,1.047059,1.248530
item_cat_block_target_sum_lag_4,3178.000000,6474.000000,3178.000000,2759.000000,4034.000000
target_lag_4,1.000000,0.000000,0.000000,0.000000,0.000000
price_mean_lag_4,1499.000000,0.000000,0.000000,0.000000,0.000000
item_block_target_mean_lag_6,1.087500,0.000000,1.075758,0.000000,0.000000
item_block_target_sum_lag_6,87.000000,0.000000,71.000000,0.000000,0.000000
shop_block_target_mean_lag_6,1.143503,1.143503,1.143503,1.143503,1.143503
shop_block_target_sum_lag_6,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000
item_cat_block_target_mean_lag_6,1.061991,1.017457,1.061991,1.038882,2.032497
item_cat_block_target_sum_lag_6,3392.000000,6353.000000,3392.000000,2565.000000,7130.000000
target_lag_6,1.000000,0.000000,3.000000,0.000000,0.000000
price_mean_lag_6,1299.000000,0.000000,899.000000,0.000000,0.000000
item_block_target_mean_lag_12,1.000000,0.000000,0.000000,0.000000,0.000000
item_block_target_sum_lag_12,65.000000,0.000000,0.000000,0.000000,0.000000
shop_block_target_mean_lag_12,1.235043,1.235043,1.235043,1.235043,1.235043
shop_block_target_sum_lag_12,1445.000000,1445.000000,1445.000000,1445.000000,1445.000000
item_cat_block_target_mean_lag_12,1.144403,1.041406,1.144403,1.099875,2.338131
item_cat_block_target_sum_lag_12,6134.000000,9809.000000,6134.000000,5275.000000,12834.000000
target_lag_12,1.000000,0.000000,0.000000,0.000000,0.000000
price_mean_lag_12,2599.000000,0.000000,0.000000,0.000000,0.000000
Newyear,0.000000,0.000000,0.000000,0.000000,0.000000
off_season,0.000000,0.000000,0.000000,0.000000,0.000000

In [40]:
test_lags.drop(["date_block_num", "target",'shop_block_target_mean', 'shop_block_target_sum',
       'item_block_target_sum', 'item_block_target_mean',
       'item_cat_block_target_sum', 'item_cat_block_target_mean'],axis = 1, inplace = True)

In [41]:
test_lags.head().T

,10913850,10913851,10913852,10913853,10913854
shop_id,5.000000,5.000000,5.000000,5.000000,5.000000
item_id,5037.000000,5320.000000,5233.000000,5232.000000,5268.000000
price_mean,0.000000,0.000000,0.000000,0.000000,0.000000
item_category_id,19.000000,55.000000,19.000000,23.000000,20.000000
item_block_target_mean_lag_1,1.000000,0.000000,1.024390,0.933333,0.000000
item_block_target_sum_lag_1,25.000000,0.000000,42.000000,28.000000,0.000000
shop_block_target_mean_lag_1,1.090155,1.090155,1.090155,1.090155,1.090155
shop_block_target_sum_lag_1,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000
item_cat_block_target_mean_lag_1,1.041791,1.022715,1.041791,1.055582,1.625431
item_cat_block_target_sum_lag_1,2443.000000,5808.000000,2443.000000,2203.000000,6596.000000
target_lag_1,0.000000,0.000000,1.000000,0.000000,0.000000
price_mean_lag_1,0.000000,0.000000,1199.000000,0.000000,0.000000
item_block_target_mean_lag_2,1.428571,0.000000,1.250000,1.043478,0.000000
item_block_target_sum_lag_2,110.000000,0.000000,80.000000,48.000000,0.000000
shop_block_target_mean_lag_2,1.148265,1.148265,1.148265,1.148265,1.148265
shop_block_target_sum_lag_2,1092.000000,1092.000000,1092.000000,1092.000000,1092.000000
item_cat_block_target_mean_lag_2,1.273688,1.014663,1.273688,1.261420,1.705134
item_cat_block_target_sum_lag_2,3979.000000,4913.000000,3979.000000,3590.000000,7107.000000
target_lag_2,1.000000,0.000000,3.000000,0.000000,0.000000
price_mean_lag_2,749.500000,0.000000,999.000000,0.000000,0.000000
item_block_target_mean_lag_3,1.190000,0.000000,1.181102,1.203704,0.000000
item_block_target_sum_lag_3,119.000000,0.000000,150.000000,65.000000,0.000000
shop_block_target_mean_lag_3,1.080134,1.080134,1.080134,1.080134,1.080134
shop_block_target_sum_lag_3,1294.000000,1294.000000,1294.000000,1294.000000,1294.000000
item_cat_block_target_mean_lag_3,1.126207,1.009725,1.126207,1.093142,1.308041
item_cat_block_target_sum_lag_3,4667.000000,6022.000000,4667.000000,3650.000000,4620.000000
target_lag_3,3.000000,0.000000,1.000000,1.000000,0.000000
price_mean_lag_3,999.166687,0.000000,599.000000,599.000000,0.000000
item_block_target_mean_lag_4,1.102041,0.000000,1.027778,0.000000,0.000000
item_block_target_sum_lag_4,54.000000,0.000000,37.000000,0.000000,0.000000
shop_block_target_mean_lag_4,1.070194,1.070194,1.070194,1.070194,1.070194
shop_block_target_sum_lag_4,991.000000,991.000000,991.000000,991.000000,991.000000
item_cat_block_target_mean_lag_4,1.036868,1.012353,1.036868,1.047059,1.248530
item_cat_block_target_sum_lag_4,3178.000000,6474.000000,3178.000000,2759.000000,4034.000000
target_lag_4,1.000000,0.000000,0.000000,0.000000,0.000000
price_mean_lag_4,1499.000000,0.000000,0.000000,0.000000,0.000000
item_block_target_mean_lag_6,1.087500,0.000000,1.075758,0.000000,0.000000
item_block_target_sum_lag_6,87.000000,0.000000,71.000000,0.000000,0.000000
shop_block_target_mean_lag_6,1.143503,1.143503,1.143503,1.143503,1.143503
shop_block_target_sum_lag_6,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000
item_cat_block_target_mean_lag_6,1.061991,1.017457,1.061991,1.038882,2.032497
item_cat_block_target_sum_lag_6,3392.000000,6353.000000,3392.000000,2565.000000,7130.000000
target_lag_6,1.000000,0.000000,3.000000,0.000000,0.000000
price_mean_lag_6,1299.000000,0.000000,899.000000,0.000000,0.000000
item_block_target_mean_lag_12,1.000000,0.000000,0.000000,0.000000,0.000000
item_block_target_sum_lag_12,65.000000,0.000000,0.000000,0.000000,0.000000
shop_block_target_mean_lag_12,1.235043,1.235043,1.235043,1.235043,1.235043
shop_block_target_sum_lag_12,1445.000000,1445.000000,1445.000000,1445.000000,1445.000000
item_cat_block_target_mean_lag_12,1.144403,1.041406,1.144403,1.099875,2.338131
item_cat_block_target_sum_lag_12,6134.000000,9809.000000,6134.000000,5275.000000,12834.000000
target_lag_12,1.000000,0.000000,0.000000,0.000000,0.000000
price_mean_lag_12,2599.000000,0.000000,0.000000,0.000000,0.000000
Newyear,0.000000,0.000000,0.000000,0.000000,0.000000
off_season,0.000000,0.000000,0.000000,0.000000,0.000000

In [50]:
test_lags.drop("price_mean", axis = 1, inplace = True)
test_lags.reset_index(drop=True, inplace=True)
test_lags.to_pickle("To_update/test.pickle")

In [43]:
test_lags.shape

(214200, 54)

In [44]:
all_data.drop(['shop_block_target_mean', 'shop_block_target_sum',
       'item_block_target_sum', 'item_block_target_mean',
       'item_cat_block_target_sum', 'item_cat_block_target_mean'], axis = 1, inplace=True)

In [45]:
train_lags = all_data.drop(test_index)

In [46]:
train_lags = all_data.drop(["target"], axis = 1)

In [47]:
train_lags.shape

(6639294, 55)

In [52]:
train_lags.drop("price_mean", axis = 1, inplace=True)

NameError: name 'train' is not defined

In [54]:
train_lags.reset_index(drop=True, inplace=True)

In [55]:
train_lags.head().T

,0,1,2,3,4
shop_id,54.000000,54.000000,54.000000,54.000000,54.000000
item_id,10297.000000,10296.000000,10298.000000,10300.000000,10284.000000
date_block_num,12.000000,12.000000,12.000000,12.000000,12.000000
item_category_id,37.000000,38.000000,40.000000,37.000000,57.000000
item_block_target_mean_lag_1,1.000000,1.000000,1.308511,1.058824,1.000000
item_block_target_sum_lag_1,42.000000,24.000000,369.000000,54.000000,4.000000
shop_block_target_mean_lag_1,1.363205,1.363205,1.363205,1.363205,1.363205
shop_block_target_sum_lag_1,10055.000000,10055.000000,10055.000000,10055.000000,10055.000000
item_cat_block_target_mean_lag_1,1.049310,1.018868,1.163135,1.049310,1.016405
item_cat_block_target_sum_lag_1,9959.000000,2052.000000,28598.000000,9959.000000,1425.000000
target_lag_1,3.000000,0.000000,21.000000,1.000000,0.000000
price_mean_lag_1,749.000000,0.000000,399.000000,699.000000,0.000000
item_block_target_mean_lag_2,1.000000,0.000000,2.226191,1.367424,1.000000
item_block_target_sum_lag_2,2.000000,0.000000,1309.000000,361.000000,3.000000
shop_block_target_mean_lag_2,1.413036,1.413036,1.413036,1.413036,1.413036
shop_block_target_sum_lag_2,7978.000000,7978.000000,7978.000000,7978.000000,7978.000000
item_cat_block_target_mean_lag_2,1.065480,1.038710,1.187626,1.065480,1.009579
item_cat_block_target_sum_lag_2,7420.000000,1449.000000,25433.000000,7420.000000,1054.000000
target_lag_2,0.000000,0.000000,119.000000,31.000000,0.000000
price_mean_lag_2,0.000000,0.000000,399.000000,694.000000,0.000000
item_block_target_mean_lag_3,0.000000,0.000000,2.526316,1.606061,1.000000
item_block_target_sum_lag_3,0.000000,0.000000,144.000000,53.000000,5.000000
shop_block_target_mean_lag_3,1.337876,1.337876,1.337876,1.337876,1.337876
shop_block_target_sum_lag_3,6676.000000,6676.000000,6676.000000,6676.000000,6676.000000
item_cat_block_target_mean_lag_3,1.063016,1.048142,1.168003,1.063016,1.009346
item_cat_block_target_sum_lag_3,6950.000000,1241.000000,24173.000000,6950.000000,1080.000000
target_lag_3,0.000000,0.000000,7.000000,0.000000,0.000000
price_mean_lag_3,0.000000,0.000000,389.000000,0.000000,0.000000
item_block_target_mean_lag_4,0.000000,0.000000,0.000000,0.000000,1.000000
item_block_target_sum_lag_4,0.000000,0.000000,0.000000,0.000000,3.000000
shop_block_target_mean_lag_4,1.428285,1.428285,1.428285,1.428285,1.428285
shop_block_target_sum_lag_4,7827.000000,7827.000000,7827.000000,7827.000000,7827.000000
item_cat_block_target_mean_lag_4,1.080254,1.051210,1.161823,1.080254,1.015357
item_cat_block_target_sum_lag_4,7659.000000,1129.000000,23348.000000,7659.000000,1124.000000
target_lag_4,0.000000,0.000000,0.000000,0.000000,0.000000
price_mean_lag_4,0.000000,0.000000,0.000000,0.000000,0.000000
item_block_target_mean_lag_6,0.000000,0.000000,0.000000,0.000000,1.000000
item_block_target_sum_lag_6,0.000000,0.000000,0.000000,0.000000,9.000000
shop_block_target_mean_lag_6,1.255430,1.255430,1.255430,1.255430,1.255430
shop_block_target_sum_lag_6,7225.000000,7225.000000,7225.000000,7225.000000,7225.000000
item_cat_block_target_mean_lag_6,1.019991,1.008157,1.070331,1.019991,1.002776
item_cat_block_target_sum_lag_6,8623.000000,1236.000000,24806.000000,8623.000000,1445.000000
target_lag_6,0.000000,0.000000,0.000000,0.000000,1.000000
price_mean_lag_6,0.000000,0.000000,0.000000,0.000000,299.000000
item_block_target_mean_lag_12,0.000000,0.000000,0.000000,0.000000,0.000000
item_block_target_sum_lag_12,0.000000,0.000000,0.000000,0.000000,0.000000
shop_block_target_mean_lag_12,1.247143,1.247143,1.247143,1.247143,1.247143
shop_block_target_sum_lag_12,9386.000000,9386.000000,9386.000000,9386.000000,9386.000000
item_cat_block_target_mean_lag_12,1.053414,1.019387,1.145903,1.053414,1.003914
item_cat_block_target_sum_lag_12,6094.000000,1630.000000,33489.000000,6094.000000,1539.000000
target_lag_12,0.000000,0.000000,0.000000,0.000000,0.000000
price_mean_lag_12,0.000000,0.000000,0.000000,0.000000,0.000000
Newyear,1.000000,1.000000,1.000000,1.000000,1.000000
off_season,0.000000,0.000000,0.000000,0.000000,0.000000

In [56]:
train_lags.to_pickle("To_update/train_x.pickle")

In [59]:
train_y.reset_index(drop = True, inplace = True)

In [60]:
train_y

0           4.0
1           3.0
2          14.0
3           3.0
4           1.0
5           9.0
6           2.0
7           1.0
8           1.0
9           1.0
10          1.0
11          1.0
12          1.0
13          1.0
14          1.0
15          1.0
16         83.0
17          3.0
18          2.0
19          3.0
20          4.0
21          1.0
22          1.0
23          1.0
24          2.0
25          1.0
26          2.0
27          1.0
28          1.0
29          1.0
           ...
6639264     0.0
6639265     0.0
6639266     0.0
6639267     0.0
6639268     0.0
6639269     0.0
6639270     0.0
6639271     0.0
6639272     0.0
6639273     0.0
6639274     0.0
6639275     0.0
6639276     0.0
6639277     0.0
6639278     0.0
6639279     0.0
6639280     0.0
6639281     0.0
6639282     0.0
6639283     0.0
6639284     0.0
6639285     0.0
6639286     0.0
6639287     0.0
6639288     0.0
6639289     0.0
6639290     0.0
6639291     0.0
6639292     0.0
6639293     0.0
Name: target, Length: 6639294, dtype: float32

In [61]:
train_y = all_data.target
train_y.to_pickle("To_update/train_y.pickle")